.env
/public/bundles/
/var/
/vendor/
.phpunit
/phpunit.xml
symfony.lock
composer.lock
.php_cs.dist

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php_cs
/.php_cs.cache
###< friendsofphp/php-cs-fixer ###